<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <!-- 
      DATOS DEL SERVICIO
    -->
    <add key="ServiceShortName" value="AzuPass"/>
    <add key="ServiceFullName" value="Servicio de identificación de usuarios AzuPass"/>
    <!-- URL donde se encuentra la aplicación (AzuPassProfileMgr) para administrar los perfiles. -->
    <add key="AzuPassProfileMgrURL" value="http://www.cf.azcuba.cu/AzuPassProfileMgr/"/>
    <!--add key="AzuPassProfileMgrURL" value="http://localhost/AzuPassProfileMgr/ "/-->
    <!-- 
      ADVETENCIA: 
      El siguiente parámetro debe emplearse si el servicio no se publica por el puerto predeterminado
      para el protocolo HTTP (TCP:80).
    -->
    <add key="AzuPassBaseURL" value="http://www.cf.azcuba.cu/AzuPass/ "/>
    <!--add key="AzuPassBaseURL" value="http://localhost/AzuPass/ "/-->
    <!-- 
      ACCESO A LA RED
      Nota.
      Si usted configura en el proxy para que halla servicio de navegación por HTTP para la IP donde se encuentra el 
      servidor que hospeda este Servicio Web XML, puede no establecer los parámetros "NetBIOSDomain", "proxyUser" y
      "proxyPasswd" a cadenas vacías ("") cada uno de ellos.
    -->
    <!-- Indicar si se efectúa el chequeo, cuando corresponda, de las URL 
       que pasan las aplicaciones cliente de este servicio Web -->
    <add key="CheckClientAppsURL" value="true"/>
    <!-- Indicar cuantos meses tiene valides el último chequeo que se ha hecho de la URL de la aplicación cliente. -->
    <add key="MonthBeforeReCheck" value="6"/>
    <!-- URL del proxy con su respectivo puerto por donde escucha peticiones de los clientes. Ej: http://proxy.dominio.cu:8080 -->
    <add key="proxyAddress" value="http://wpad.cf.azcuba.cu:8080"/>
    <!-- Dominio NETBIOS o grupo de trabajo contra el cual el proxy identifica a los usuarios, si corresponde, sino, dejar en blanco ("") -->
    <add key="NetBIOSDomain" value=""/>
    <add key="proxyUser" value=""/>
    <add key="proxyPasswd" value=""/>
    <!-- 
      PARÁMETROS PARA ACCESO A BASE DE DATOS "AzuPass" 
    -->
    <!-- Nombre ó dirección IP del servidor de base de datos. -->
    <!--add key="dbServerName" value="srv-5.cf.minaz.cu"/-->
    <add key="dbServerName" value="(local)"/>
    <!-- 
      Llave: dbServerType
      
      Los valores permitidos para la llave siguiente 'dbServerType' son los siguientes:
      Valor: "MSSql"    - Microsoft SQL Server - Puerto predeterminado: 1433
      Valor: "MySQL"    - MySQL Server - Puerto predeterminado: 3306
      Valur: "PostgreSQL" - PostgreSQL Server - Puerto predeterminado: 5432
    -->
    <add key="dbServerType" value="MSSql"/>
    <!-- Puerto TCP por donde escucha el servicio de datos seleccionado. -->
    <add key="dbServerTCPPort" value="1433"/>
    <!-- Nombre de la base de datos. -->
    <add key="dbName" value="AzuPass"/>
    <!-- Nombre de usuario utilizado para conectarse a la base de datos. -->
    <add key="dbUserName" value="usr_wsAzuPass"/>
    <!-- Contraseña del de usuario para conectarse a la base de datos. -->
    <add key="dbUserPass" value="ww0KaUl/mbo="/>
    <!-- Opción "Persist Segurity Info" de la conexión a la base de datos. -->
    <add key="dbPersistSegInfo" value="false"/>
    <!-- Opción "Pooling" de la conexión a la base de datos. -->
    <add key="dbPooling" value="true"/>
    <!-- Opción "Min Pool Size" de la conexión a la base de datos. -->
    <add key="dbMinPoolSize" value="0"/>
    <!-- Opción "Max Pool Size" de la conexión a la base de datos. -->
    <add key="dbMaxPoolSize" value="500"/>
    <!-- 
      Llave: wsAdmins
      
      DECLARA ADMINISTRADORES DEL SERVICIO "AzuPass" 
      NOTA.
      Estos usuarios tendrán oportunidad de (a través de la interface del administrador de perfiles 
      AzuPass cambiar algunos datos como el estado Habilitado/Deshabilitado de los usuarios, la 
      contraseña para acceso a la base de datos, etc.)
    -->
    <add key="wsAdmins" value="leskyam@esicf.azcuba.cu|javier.rs@esicf.azcuba.cu"/>
    <!-- 
      CARACTERÍSTICAS DE LAS CONTRASEÑAS 
    -->
    <!-- Cantidad mínima de caracteres (el sistema no permitirá bajar este valor de "6") -->
    <add key="pwdMinChars" value="6"/>
    <!-- Cantidad máxima de caracteres (el sistema no permitirá subir este valor de "16") -->
    <add key="pwdMaxChars" value="16"/>
    <!-- Especificar si la contraseña debe diferir del nombre real del usuario y del de su mailbox -->
    <add key="pwdMustDiferUserName" value="true"/>
    <!-- 
      Llave: SMTPServer
      
      SERVIDORES DE CORREO 
      Lista de servidores POP3 y su respectivo puerto, que se utilizan 
      para enviar correos de notificación. 
    -->
    <!-- En HOME -->
    <!--add key="SMTPServer" value="192.168.100.4" /-->
    <!-- En TEICO -->
    <add key="SMTPServer" value="mail.cf.azcuba.cu"/>
    <add key="SMTPPort" value="25"/>
    <!-- 
      Llave: SMTPAuth
      
      FLAG PARA SABER SI SE UTILIZA LA AUTHENTICATION SMTP.
      Este valor debe ser "true" ó "false", para indicar que se utilicen los parámetros 
      "SMTPUser" y "SMTPPassword" cuando es "true" y que no se utilicen cuando es "false".
    -->
    <add key="SMTPAuth" value="true"/>
    <!-- Usuario SMTP -->
    <add key="SMTPUser" value="Servicio.AzuPass@cf.azcuba.cu"/>
    <!-- Contraseña del usuario SMTP -->
    <add key="SMTPPasswd" value="mip731229"/>
    <!-- 
      Llave: EmailTopDomains
      
      ATENCIÓN:
      La expecificación de los nombres de dominio de correo a continuación se hará teniendo en cuenta 
      lo siguiente:

      NIVEL MÁS ESTRICTO: especificar el nombre de dominio de correo completo, sin la arroba (@). 
        Ejemplo: "dom.cu" solo permitirá a usuarios cuyo email pertenezca a "@dom.cu"

      NIVEL MEDIO ESTRICTO: poner el prefijo "*." al dominio de correo para permitir subdominios a partir de este.
        Ejemplo: "*.dom.cu" solo permitirá a usuarios cuyos emails sean subdominios de "dom.cu", 
             pero no a aquellos cuyo dominio de correo sea "@dom.cu"

      NIVEL MÁS FLEXIBLE: especificar solamente "*" en el valor de la llave permitirá todas las direcciones de correo 
      siempre y cuando sean estás válidas.
      
      NOTA.
      Se pueden especificar varios valores en esta llave, siempre y cuando sean separados estos por el caracter 
      barra vertical "|"
        Ejemplo: "dom.cu|*.dom.cu"
    -->
    <add key="EmailTopDomains" value="*.azcuba.cu|azcuba.cu|*.minaz.cu|minaz.cu|*.datazucar.cu|datazucar.cu"/>
    <!-- FIN DE SERVIDORES DE CORREO -->
    <!-- 
      OTROS ELEMENTOS DE CONFIGURACIÓN
    -->
    <!-- Edad mínima (en años) requerida para hacer uso de este servicio. -->
    <add key="MinAgeToUseThisService" value="17"/>
    <!-- FIN DE OTROS ELEMENTOS DE CONFIGURACIÓN -->
  </appSettings>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy usesystemdefault="True" proxyaddress="http://wpad.cf.azcuba.cu:8080" bypassonlocal="True"/>
      <bypasslist>
        <add address="[a-z]+\.cf.\azcuba\.cu$"/>
        <add address="192\.168\.100\.\d{1,3}"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.web>
    <!--  DEPURACIÓN DINÁMICA DE COMPILACIÓN
          Establezca la depuración de compilación como "true" para habilitar la depuración ASPX. Si no, establezca este valor en "false"
          para mejorar el rendimiento en tiempo de ejecución de la aplicación. 
          Establezca la depuración de compilación como "true" para insertar símbolos de depuración (información .pdb)
          en la página compilada. Dado que este proceso crea un archivo grande que se ejecuta
          más despacio, debe establecer este valor en "true" durante la depuración y en
          "false" el resto del tiempo. Para obtener más información, vea la documentación acerca de
          la depuración de archivos ASP.NET.
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establezca el modo customErrors como "On" o "RemoteOnly" para habilitar los mensajes de error personalizados y como "Off" para deshabilitarlos. 
          Agregue etiquetas <error> para cada error que desee controlar.

          "On" Mostrar siempre mensajes personalizados (descriptivos).  
          "Off" Mostrar siempre información de error detallada de ASP.NET.
          "RemoteOnly" Mostrar mensajes personalizados (descriptivos) sólo a usuarios que no se estén ejecutando 
          en el servidor Web local. Se recomienda esta configuración por motivos de seguridad, para que 
          no se muestre información detallada de la aplicación a clientes remotos.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.htm"/>
    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", 
          "Forms", "Passport" y "None"

          "None" No se realiza ninguna autenticación. 
          "Windows" IIS realiza la autenticación (básica, implícita o Windows integrada) de acuerdo con 
          la configuración de la aplicación. Se debe deshabilitar el acceso anónimo en IIS. 
          "Forms" El usuario proporciona un formulario personalizado (página Web) para introducir las credenciales y, a continuación, 
          autenticarlas en la aplicación. Un símbolo (token) de credencial de usuario se almacena en una cookie.
          "Passport" La autenticación se realiza mediante un servicio de autenticación centralizado proporcionado
          por Microsoft que ofrece un inicio de sesión único y servicios de perfil principal para sitios miembro.
    -->
    <authentication mode="Windows"/>
    <!--  AUTORIZACIÓN 
          Esta sección establece las directivas de autorización de la aplicación. Puede permitir o denegar el acceso 
          a los recursos de la aplicación por usuario o función. Comodines: "*" incluye a todo el mundo, "?" incluye a usuarios anónimos 
          (sin autenticar).
    -->
    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
    -->
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-MX" uiCulture="es-MX"/>
    <xhtmlConformance mode="Legacy"/>
    <authorization>
      <allow users="*"/>
      <!-- Permitir a todos los usuarios -->
      <!--  <allow     users="[lista de usuarios separados por comas]"
                             roles="[lista de funciones separadas por comas]"/>
                  <deny      users="[lista de usuarios separados por comas]"
                             roles="[ lista de funciones separadas por comas]"/>
            -->
    </authorization>
    <!--  REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN
          El seguimiento en el nivel de aplicación habilita los resultados del registro de seguimiento para 
          todas las páginas de una aplicación. Establezca el seguimiento como "true" para habilitar el
          registro de seguimiento de la aplicación. Si pageOutput="true", la información de seguimiento
          se mostrará en la parte inferior de cada página. Si no, puede ver el registro de seguimiento de
          aplicación en la página "trace.axd" desde la raíz de la aplicación Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN 
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión a la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>